* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin-left: 120px;
    margin-right: 120px;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.navbar {
    
  background: white;
  padding: 20px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.container-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 700;
    color: #222;
    
}

.nav-links a{
    font-weight: 500;
    margin-left: 20px;
    color: #444;
    text-decoration: none;
}

/* Hero Section */
.hero{
    padding: 64px 0;
    /* display: flex; */
    /* align-items: center; */
}

.container-hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hero-text{
    max-width: 500px;
    flex: 1;
}
.hero-text h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;

}
.hero-text p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}
.btn {
  display: inline-block;
  background-color: #FF3E80;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-weight: bold;
}
.hero-text {
    margin-bottom: 30px;
  }
  .hero-img img {
    width: 80%;
    margin: 0 auto;
  }
.hero-image{
    background-image: url('../images/Circle\ design.svg');
}
/* Brand Logos */
.brands-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    gap: 20px;
}
.brands-container img{
    height: 40px;
    max-width: 100px;
    object-fit: contain;
}

/* Product Section */
.products {
  margin: 64px auto;
}
.products h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.product-grid{
    display: grid;
     grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  text-align: center;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}
.card h3 {
  margin-bottom: 5px;
  font-size: 18px;
}
.card p {
  font-weight: bold;
  color: #222;
  margin-bottom: 8px;
}
.card small {
  color: #666;
  font-size: 13px;
}
.card:hover {
  transform: translateY(-5px);
  transform: translate(5px);
}